config FORCE_FAST_CHARGE
	bool "Force AC charge mode at will"
	default y
	help
	  A simple sysfs interface to force adapters that
	  are detected as USB to charge as AC.

config FINGERPRINT_MOD
	bool "Fingerprint Mod"
	default y
	help
	  Fingerprint modification - a simple sysfs interface to 
	  enable kernelspace fingerprint tweaks, like sleep/recent apps.
